@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
	--white: #ffffff;
	--black: #000000;
	--purple: #190645;
	--violet: #44289a;
	--violet2: #44289a;
	--yellow: #e7b400;
	--orange: #df7e0b;
}


/* GLOBAL SELECTOR */
*{
	font-family: 'Ubuntu', sans-serif;
	color: var(--white);
}
*::selection {
    color: var(--white);
    background-color: var(--yellow);
}

body{
	background: var(--black);
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)), url("../img/space.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
img{
	max-width: 100%;
	object-fit: cover;
}
a{
	display: inline-block;
	text-decoration: none;
}
ul{
	list-style: none;
}

.hidden{
	opacity: 0;
	filter: blur(5px);
	transform: translateY(25%);
	transition: all 1s;
}
.show{
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

/* NAV - START */
header{
	align-items: center;
	justify-content: space-between;
	gap: 2em;
	padding: 1.5em 0; /* 24px   1em = 16 */
	min-height: 15vh;
	width: 100%;
}

.row{
	display: flex;
}
.container{
	max-width: 90%;
	margin: 0 auto;
}

.logo{
	align-items: center;
}

.logo img{
	max-width: 35px;
}

.logo h1{
	font-weight: bold;
	font-size: 35px;
	color: var(--yellow);
	transition: .3s ease;
}

.logo h1:hover{
	font-weight: bold;
	font-size: 35px;
	color: var(--white);
}

nav ul{
	gap: 2em;
	align-items: center;
}

nav a{
	font-weight: bold;
	font-size: 18px;
	transition: 0.3s ease-in-out;
}

nav a::after{
	display: block;
	content: '';
	width: 0;
	height: 3px;
	margin: 0 auto;
	background-color: var(--white);
	border-radius: 5px;
	transition: 0.3s ease-in-out;
}

nav li:nth-of-type(4) a::after{
	all: unset;
}

nav a:hover::after{
	width: 30px;
}

nav li:nth-of-type(4) a{
	padding: 0.5em 1em;
	background: var(--yellow);
	border-radius: 4px;
	transition: .3s ease;
}

nav li:nth-of-type(4) a:hover{
	color: var(--yellow);
	background: var(--white);
}
/* NAV - END */

/* HERO - START */
.hero{
	gap: 2em;
	flex-wrap: wrap-reverse;
	align-items: center;
	min-height: 85vh;
	text-align: center;
}

.hero>*{
	flex: 1 1 25em;
}

.hero h1{
	font-weight: bold;
	font-size: clamp(30px, 5vw, 60px);
	line-height: 1;
}

.hero p{
	font-weight: bold;
	font-size: 18px;
	padding: 1em 0;
}

.hero a{
	font-weight: 700;
	font-size: 20px;
	padding: 0.3em 1em;
	background: var(--yellow);
	border-radius: 4px;
	transition: 0.3s ease-in-out;
}
.hero a:hover{
	color: var(--yellow);
	background: var(--white);
}
/* HERO - END */

/* MEDIA - START */
@media screen and (max-width:900px){
	.logo h1{
	font-weight: bold;
	font-size: 20px;
	}
	.logo h1:hover{
	font-size: 20px;
	}

	.toggleMenu{
		position: absolute;
		right: 5%;
		background: url("../img/bars-solid-white.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
		width: 30px;
		height: 30px;
		padding: 2em;
		z-index: 3000;
		transition: 0.3s ease-in-out;
	}

	.toggleMenu.active{
		position: fixed;
		background: url("../img/xmark-solid-white.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
	}

	.navigation{
		justify-content: center;
		align-items: center;
		flex-direction: column;
		max-height: 0;
		opacity: 0;
		transform-origin: top;
		transform: scale(1, 0);
	}

	.navigation.active{
		position: fixed;
		inset: 0;
		margin: auto;
		max-height: 100%;
		opacity: 1;
		z-index: 2000;
		background-color: var(--purple);
		background-image: url("data:image/svg+xml,%3Csvg width='75' height='75' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%231e0851' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
		transform: scale(1, 1);
	}

	nav ul{
		flex-direction: column;
	}
}
/* MEDIA - END */



/* PAGES SECTION - START */
.pages-section{
	background-color: var(--purple);
	background-image: url("data:image/svg+xml,%3Csvg width='75' height='75' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%231e0851' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
	box-shadow: 0px 0px 10px var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.pages-section__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.pages-section__container .pages-section__box{
	position: relative;
	width: 350px;
	padding: 40px;
	background: transparent;
	border: 3px solid var(--violet);
	border-radius: 4px;
	margin: 20px;
	overflow: hidden;
	text-align: center;
}
.pages-section__container .pages-section__box:nth-child(1){
	transition-delay: 200ms;
}
.pages-section__container .pages-section__box:nth-child(2){
	transition-delay: 400ms;
}
.pages-section__container .pages-section__box:nth-child(3){
	transition-delay: 600ms;
}
.pages-section__container .pages-section__box .pages-section__icon{
	position: relative;
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	transition: 1s;
}
.pages-section__container .pages-section__box:nth-child(1) .pages-section__icon{
	box-shadow: 0 0 0 0 var(--violet);
	background: var(--violet);
}
.pages-section__container .pages-section__box:nth-child(1):hover .pages-section__icon{
	box-shadow: 0 0 0 400px var(--violet);
}
.pages-section__container .pages-section__box:nth-child(2) .pages-section__icon{
	box-shadow: 0 0 0 0 var(--violet);
	background: var(--violet);
}
.pages-section__container .pages-section__box:nth-child(2):hover .pages-section__icon{
	box-shadow: 0 0 0 400px var(--violet);
}
.pages-section__container .pages-section__box:nth-child(3) .pages-section__icon{
	box-shadow: 0 0 0 0 var(--violet);
	background: var(--violet);
}
.pages-section__container .pages-section__box:nth-child(3):hover .pages-section__icon{
	box-shadow: 0 0 0 400px var(--violet);
}
.pages-section__container .pages-section__box .pages-section__content{
	position: relative;
	z-index: 1;
	transition: 0.5s;
}
.pages-section__container .pages-section__box:hover .pages-section__content{
	color: var(--white);
}
.pages-section__container .pages-section__box .pages-section__content h3{
	font-size: 20px;
	margin: 10px 0;
	color: var(--yellow);;
	font-weight: bold;
}
.pages-section__container .pages-section__box .pages-section__content p{
	color: var(--white);;
}
.pages-section a{
	display: inline-block;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid var(--yellow);
	border-radius: 4px;
	text-decoration: none;
	color: var(--yellow);
	font-weight: bold;
	margin-top: 20px;
	transition: 0.3s ease;
}
.pages-section a:hover{
	background: var(--yellow);
	color: var(--white);
}

@media(max-width: 769px){
	.pages-section__container .pages-section__box{
	width: 300px;
	}

	.pages-section__container .pages-section__box .pages-section__icon{
	width: 225px;
	height: 225px;
	}
}

/* PAGES SECTION - END */



/* ABOUT SECTION - START */
.about-section{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-section .about-section-content img{
	height: auto;
	width: 600px;
	max-width: 100%;
}
.about-section-text{
	width: 550px;
	max-width: 100%;
	margin: 20px 0;
	padding: 0 10px;
	text-align: center;
	background: rgba(0, 0, 0, .8);
	border: 2px solid white;
	border-radius: 4px;
}
.about-section-content{
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.about-section-text h1{
	color: var(--yellow);
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: 2px;
}
.about-section-text h2{
	color: var(--yellow);
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.about-section-text p{
	color: var(--white);
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	font-weight: bold;
}
.about-section-text .developer{
	color: var(--white);
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-weight: bold;
}
.about-section button{
	background: linear-gradient(to right, var(--skyBlue), var(--lavender));
	color: var(--white);
	outline: none;
	border: none;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 4px;
	font-size: 17px;
	font-weight: bold;
}
.about-section-button:hover{
	background: linear-gradient(to right, var(--lavender), var(--skyBlue));
	color: var(--white);
	cursor: pointer;
}
@media screen and (max-width: 1180px){
	.about-section-about{
		width: 100%;
		height: auto;
		padding: 70px 0px;
	}
}
@media screen and (max-width: 650px){
	.about-section-about .about-section-content img{
		margin-bottom: 35px;
	}
	.about-section-text h1{
		font-size: 60px;
		margin-bottom: 25px;
	}
}
/* ABOUT SECTION - END */



/* CONTACT SECTION - START */
.contact-section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.contact-section__container{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-section__item{
	width: 100%;
	height: 550px;
	max-width: 820px;
	border-radius: 20px;
	overflow: hidden;
	grid-template-columns: repeat(2, 1fr);
	display: grid;
	z-index: 1000;
}
.contact-section__contact{
	background-color: var(--violet);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 4 4'%3E%3Cpath fill='%233a2283' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-section__submit-form{
	background: var(--white);
}
.contact-section__first-text{
	color: var(--white);
	padding-top: 20px;
	font-size: 35px;
	font-weight: bold;
}
.contact-section__image{
	height: 350px;
}
.contact-section__second-text{
	color: var(--white);
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
}
.contact-section__third-text{
	font-size: 25px;
	position: relative;
	top: 20px;
	left: 20px;
	padding-top: 10px;
	color: var(--yellow);
}
.contact-section form{
	padding: 0 50px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.contact-section__input-box{
	height: 40px;
	width: 70%;
	margin: 30px 0;
	position: relative;
}
.contact-section__input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: 2px solid var(--yellow);
	border-radius: 20px;
	outline: none;
	padding-left: 10px;
	color: var(--black);
	font-size: 16px;
}
.contact-section__input-box label{
	position: absolute;
	top: 50%;
	left: 10px;
	padding-left: 10px;
	transform: translateY(-50%);
	font-size: 15px;
	font-weight: bold;
	color: var(--yellow);
	transition: .3s;
}
.contact-section__input-box .contact-section__input:focus ~ label,
.contact-section__input-box .contact-section__input:valid ~ label{
	top: -3px;
	left: 10px;
	background: var(--white);
	font-weight: bold;
	font-size: 10px;
	padding: 2px;
}
.contact-section textarea.contact-section__input{
	resize: none;
	min-height: 150px;
	overflow: auto;
}
.contact-section__btn{
	position: relative;
	top: 100px;
	background: transparent;
	outline: none;
	border: 2px solid var(--yellow);
	border-radius: 4px;
	height: 45px;
	width: 30%;
	font-size: 16px;
	color: var(--yellow);
	cursor: pointer;
	font-weight: bold;
	transition: .3s;
}
.contact-section__btn:hover{
	color: var(--white);
	background: var(--yellow);
}

@media(max-width:850px){
	.contact-section__item{
		grid-template-columns: 1fr;
	}
	.contact-section__contact{
		display: none;
	}
	.contact-section__text{
		font-size: 40px;
		text-align: center;
	}
	.contact-section__btn{
		width: 25%;
		height: 40px;
		font-size: 12px;
	}
}
@media(max-width:480px){
	.contact-section__item{
		grid-template-columns: 1fr;
	}
	.contact-section__contact{
		display: none;
	}
	.contact-section__text{
		font-size: 20px;
		text-align: center;
	}
	.contact-section__btn{
		width: 20%;
		height: 40px;
		font-size: 12px;
	}
}
/* CONTACT SECTION - END */



/* IMPORTANCE SECTION - START */
.importance__section{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.importance__section .importance__section-content img{
	height: auto;
	width: 600px;
	max-width: 100%;
}
.importance__section-text{
	width: 550px;
	max-width: 100%;
	margin: 20px 0;
	padding: 0 10px;
	background: rgba(0, 0, 0, .8);
	border: 2px solid white;
	border-radius: 4px;
}
.importance__section-content{
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.importance__section-text h1{
	color: var(--yellow);
	font-size: 60px;
	margin-bottom: 20px;
	font-weight: bold;
}
.importance__section-text h5{
	color: var(--white);
	font-size: 20px;
	margin-bottom: 25px;
	letter-spacing: 2px;
	font-weight: bold;
}
.importance__section-text p{
	color: var(--white);
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	font-weight: bold;
}
.importance__section-text ul{
	color: var(--white);
	font-size: 15px;
	font-weight: bold;
}

.importance__section-text ul li{
	margin-bottom: 10px;
}
.importance__section-text a{
	display: inline-block;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid var(--yellow);
	border-radius: 4px;
	text-decoration: none;
	color: var(--yellow);
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	transition: 0.3s ease;
}
.importance__section-text a:hover{
	background: var(--yellow);
	color: var(--white);
}

@media screen and (max-width: 1180px){
	.importance__section-about{
		width: 100%;
		height: auto;
		padding: 70px 0px;
	}
}
@media screen and (max-width: 650px){
	.importance__section-about .importance__section-content img{
		margin-bottom: 35px;
	}
	.importance__section-text h1{
		font-size: 60px;
		margin-bottom: 25px;
	}
}
/* IMPORTANCE SECTION - END */

/* IMPORTANCE SECTION2 - START */
.importance-section{
	display: flex;
	justify-content: center;
	min-height: 100vh;
	max-width: 100%;
	margin: 25px 0;
}
.importance-section__container{
	background: white;
	max-width: 90%;
	padding: 20px;
	border-radius: 5px;
}
.importance-section__container-section{
	margin-bottom: 30px;
}
.importance-section__container-section h2{
	color: var(--yellow);
	font-size: 25px;
	font-weight: bold;
}
.importance-section__container-section p{
	color: black;
	font-size: 17px;
	margin-bottom: 15px;
}
.importance-section__btn-section a{
	display: inline-block;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid var(--yellow);
	border-radius: 4px;
	text-decoration: none;
	color: var(--yellow);
	font-weight: bold;
	margin-top: 20px;
	transition: 0.3s ease;
}
.importance-section__btn-section a:hover{
	background: var(--yellow);
	color: var(--white);
}
/* IMPORTANCE SECTION2 - END */



/* APP SECTION - START */
.app-section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.app-section-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 100px 50px;
	padding: 100px 50px;
}
.app-section-container .app-section-card{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 350px;
	height: 300px;
	background: var(--white);
	border-radius: 20px;
	transition: 0.5s;
}
.app-section-container .app-section-card:hover{
	height: 350px;
}

.app-section-container .app-section-card .app-section-imgBx{
	position: absolute;
	top: 20px;
	width: 300px;
	height: 220px;
	background-color: #202020;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 4 4'%3E%3Cpath fill='%23303030' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	border: 2px solid var(--yellow);
	border-radius: 12px;
	overflow: hidden;
	transition: 0.5s;
}
.app-section-container .app-section-card:hover .app-section-imgBx{
	top: -80px;
	scale: 0.75;
}
.app-section-container .app-section-card .app-section-imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.app-section-container .app-section-card .app-section-content{
	position: absolute;
	top: 252px;
	width: 100%;
	padding: 0 30px;
	height: 35px;
	overflow: hidden;
	text-align: center;
	transition: 0.5s;
}
.app-section-container .app-section-card:hover .app-section-content{
	top: 130px;
	height: 250px;
}
.app-section-container .app-section-card .app-section-content h2{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
	color: var(--yellow);
}
.app-section-container .app-section-card .app-section-content p{
	color: var(--black);
	font-size: 1.05em;
	margin-bottom: 10px;
}
.app-section-container .app-section-card .app-section-content a{
	position: relative;
	top: 15px;
	display: inline-block;
	padding: 12px 25px;
	background: transparent;
	color: var(--yellow);
	font-weight: bold;
	text-decoration: none;
	border: 2px solid var(--yellow);
	border-radius: 4px;
	transition: .3s;
}
.app-section-container .app-section-card .app-section-content a:hover{
	color: var(--white);
	background: var(--yellow);
}
/* APP SECTION - END */

/* APP SECTION2 - START */
.app-section2{
	display: flex;
	justify-content: center;
	min-height: 100vh;
	max-width: 100%;
	margin: 25px 0;
}
.app-section2__container{
	background: white;
	max-width: 90%;
	padding: 20px;
	border-radius: 5px;
}
.app-section2__container img{
	height: 150px;
	border: 2px solid var(--yellow);
	border-radius: 50px;
	margin-left: 20px;
	float: right;
}
.app-section2__container-section{
	margin-bottom: 30px;
}
.app-section2__container-section h2{
	color: var(--yellow);
	font-size: 25px;
	font-weight: bold;
}
.app-section2__container-section p{
	color: black;
	font-size: 17px;
	margin-bottom: 15px;
}
.app-section2__container-section a{
	color: var(--yellow);
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 15px;
	transition: .3s;
}
.app-section2__container-section a:hover{
	color: var(--orange);
}

.app-section2__btn-section a{
	display: inline-block;
	padding: 10px 20px;
	background: transparent;
	border: 2px solid var(--yellow);
	border-radius: 4px;
	text-decoration: none;
	color: var(--yellow);
	font-weight: bold;
	margin-top: 20px;
	transition: 0.3s ease;
}
.app-section2__btn-section a:hover{
	background: var(--yellow);
	color: var(--white);
}
/* IMPORTANCE SECTION2 - END */



/* TIP SECTION - START */
.tip-section{
	display: flex;
	justify-content: center;
	align-self: center;
	min-height: 100vh;
	margin: 25px 20px;
}
.tip-section__container{
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: minmax(100px, auto);
	margin: 30px;
	grid-area-flow: dense;
	grid-gap: 10px;
}
.tip-section__container .tip-section__box{
	background-color: var(--violet);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 4 4'%3E%3Cpath fill='%233a2283' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	border-radius: 50px;
	padding: 20px;
	display: grid;
	font-size: 20px;
	font-weight: bold;
	place-items: center;
	text-align: center;
}
.tip-section__container .tip-section__box p{
	padding: 5px 10px;
	border: 2px solid var(--white);
	border-radius: 5px;
	transition: .3s;
}
.tip-section__container .tip-section__box:hover{
	background-color: var(--yellow);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 4 4'%3E%3Cpath fill='%23e79e00' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.tip-section__container .tip-section__box:hover p{
	padding: 5px 10px;
	color: var(--black);
	background: white;
	border: 2px solid var(--white);
	border-radius: 5px;
}
.tip-section__container .tip-section__box img{
	position: relative;
	max-width: 150px;
	margin-bottom: 20px;
}
.tip-section__container .tip-section__box:nth-child(1){
	grid-column: span 2;
	grid-row: span 2;
}
.tip-section__container .tip-section__box:nth-child(2){
	grid-column: span 2;
	grid-row: span 2;
}
.tip-section__container .tip-section__box:nth-child(3){
	grid-column: span 2;
	grid-row: span 2;
}
.tip-section__container .tip-section__box:nth-child(4){
	grid-column: span 2;
	grid-row: span 2;
}
.tip-section__container .tip-section__box:nth-child(5){
	grid-column: span 2;
	grid-row: span 2;
}
.tip-section__container .tip-section__box:nth-child(6){
	grid-column: span 2;
	grid-row: span 2;
}
.tip-section__container .tip-section__box:nth-child(7){
	grid-column: span 4;
	grid-row: span 2;
}

@media (max-width: 991px){
	.tip-section__container{
		grid-template-columns: repeat(auto-fill, min(50%, 1fr));
		grid-template-row: minmax(auto, auto);
	}
	.tip-section__container .tip-section__box{
		grid-column: unset !important;
		grid-row: unset !important;
	}
}
/* TIP SECTION - END */



/* FOOTER - START */
.footer__container{
	max-width: 100%;
	margin: auto;
}
.footer__row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer{
	background-color: var(--violet);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 4 4'%3E%3Cpath fill='%233a2283' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	box-shadow: 0px 0px 10px var(--black);
	padding: 70px 0;
}
.footer__footer-col{
	width: 33.33%;
	padding: 0 15px;
	text-align: center;
}
.footer__footer-col h4{
	font-style: 18px;
	color: var(--white);
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: bold;
	position: relative;
}
.footer__footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background: var(--white);
	height: 2px;
	box-sizing: border-box;
	width: 100%;
}
.footer__footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer__footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: var(--white);
	font-weight: bold;
	display: block;
	transition: all 0.3s ease;
}
.footer__footer-col li a:hover{
	color: var(--yellow);
	padding-left: 10px;

}
@media(max-width: 769px){
	.footer__footer-col{
		width: 50%;
		margin-bottom: 30px;
	}
}
@media(max-width: 574px){
	.footer__footer-col{
		width: 100%;
	}
}
/* FOOTER - END */